<meta charset="utf-8" />

<title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . | absURL }}" type="image/png" />{{ end }}

{{ with or .Description .Site.Params.description }}
<meta name="description" content="{{ . }}" />{{ end }}
<meta name="referrer" content="no-referrer-when-downgrade" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $stylesheetNormalize := resources.Get "css/normalize.css" }}
{{ $stylesheetFonts := resources.Get "css/fonts.css" }}
{{ $stylesheetGeneric := resources.Get "css/generic.css" }}

{{ $stylesheetScreen := ( resources.Get "css/_index.scss" | css.Sass ) }}

{{ $stylesheet := slice $stylesheetNormalize $stylesheetFonts $stylesheetGeneric $stylesheetScreen |
resources.Concat "css/style.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}" type="text/css"
  integrity="{{ $stylesheet.Data.Integrity }}" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}

<!-- A partial to be overwritten by the user.
     Simply place a custom_head.html into
     your local /layouts/partials-directory -->
{{- partial "custom_head.html" . -}}