body {
  background-color: #222;
}

.uk-light a {
  color: #ec5094;
}

.stackone {
  border: 6px solid #fff;
  height: 200px; width: 200px;
  margin: 15px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
 }
 
 .stackone:before {
  content: "";
  height: 200px; width: 200px;
  background: #eff4de;
  border: 6px solid #fff;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: -10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  transform: rotate(-5deg);
 }
 
 .stackone:after {
   content: "";
   height: 200px; width: 200px;
   background: #768590;
   border: 6px solid #fff;
   position: absolute;
   z-index: -1;
   top: 5px;
   left: 0px;
   box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
   transform: rotate(4deg);
  }