{{ define "main" }}
{{ $headless := .Site.GetPage "/homepage2" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
{{ $content := where $sections "Params.external" "==" nil }}

<main class="content" role="main">
  <p>Template test index</p>
  {{ printf "%#v" $sections }}


  <!-- Render sticky left navigation menu -->
  <div class='fixed-nav'>
    {{ range $index_val, $elem_val := $content }}
    {{ $fnav_title := .Title }}{{ with .Params.navigation_menu_title }}{{ $fnav_title = . }}{{ end }}
    <a class='fn-item' item_index='{{ (add $index_val 1) }}' href='#{{ anchorize $fnav_title }}'>{{ $fnav_title
      | safeHTML }}</a>
    {{ end }}
  </div>

  <!-- Render single-page content -->
  {{ range $index_val, $elem_val := $content }}
  {{ $fnav_title := .Title }}{{ with .Params.navigation_menu_title }}{{ $fnav_title = . }}{{ end }}
  <div
    class='post-holder{{ if and (ne .Site.Params.invertSectionColors true) (not (modBool $index_val 2)) }} dark{{ else if and (eq .Site.Params.invertSectionColors true) (modBool $index_val 2) }} dark{{ end }}'>
    <article id='{{ anchorize $fnav_title }}'
      class='post {{ if eq $index_val 0 }}first{{ end }} {{ if eq (add $index_val 1) (len $content) }}last{{ end }}'>
      <header class="post-header">
        <h2 class="post-title">{{ .Title | safeHTML }}</h2>
      </header>
      <section class="post-content">
        {{ .Content }}
      </section>
    </article>
    <div
      class='post-after{{ if and (ne .Site.Params.invertSectionColors true) (modBool $index_val 2) }} light{{ else if and (eq .Site.Params.invertSectionColors true) (not (modBool $index_val 2)) }} light{{ end }}'>
    </div>
  </div>
  {{ end }}

</main>
{{ end }}