{% extends "page.html" %}

{% block head_addon %}
   <link rel="stylesheet" href="/css/justifiedGallery.min.css" type="text/css" media="all" />
   <link rel="stylesheet" href="/css/justifiedGallery.custom.css" type="text/css" media="all" />
   <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</style>
{% endblock %} 

{% block sidebar %}
{% endblock %} 


{% block main_content %}
{{ super() }}
  <div id="basicExample2">
    {% for item in this.content %}
    <a href="{{item.url}}">
        <img alt="{{item.title | e }} [{{item['fotos']|length}} fotos]" src="/images/test/{{item['folder']}}/thumbnails/{{item['thumbnail']}}" />
        <div class="caption">
        {{item.title | e }}
        <div>{{item['fotos']|length}} foto's</div>
    </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}

{% block body_addon %}
<script src="/js/jquery.swipebox.min.js"></script>
<script src="/js/jquery.justifiedGallery.min.js"></script>
<script>
$(document).ready(function () {
    $("#basicExample2").justifiedGallery({
		lastRow : 'nojustify', 
		rowHeight : 150, 
		rel : 'gallery2',
		margins : 15,
		captionSettings: {
		    animationDuration: 500,
            visibleOpacity: 0.8,
            nonVisibleOpacity: 0.4
        }
    });
});
</script>
{% endblock %}
