{% extends "page.html" %}

{% block head_addon %}
   <link rel='stylesheet' href="/css/swipebox.min.css" media='screen' />
   <link rel="stylesheet" href="/css/justifiedGallery.min.css" type="text/css" media="all" />
   <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
{% endblock %} 

{% block sidebar %}
{% endblock %} 

{% block body_addon %}
<script src="/js/jquery.swipebox.min.js"></script>
<script src="/js/jquery.justifiedGallery.min.js"></script>
<script>
$(document).ready(function () {
    $("#basicExample").justifiedGallery({
		lastRow : 'nojustify', 
		rowHeight : 100, 
		rel : 'gallery2',
		margins : 1
    }) .on('jg.complete', function () {
		$('#basicExample a').swipebox();
	});
});
</script>
{% endblock %}
